*{
    margin: 0;
    padding: 0;
}



.principal{
    background-image:url(./maxresdefault\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}



h1{
    font-size: 60px;
    color: blue;
}

