:root{
    --cor-texto-principal: #f1c25d;
    --cor-texto-secundario: #c0c0c0;
    --botao-principal: #f1c25d;
    --botao-secundario:#000000;
}
  body{
    background-color: var(--botao-secundario);
    color: var(--cor-texto-principal);
}


*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image:url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}


h1{
    font-size: 60px;
    color: rgb(240, 171, 67);
}
.container--botao{
    background-color: var(--botao-principal);
    color: var(--botao-secundario);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

.botao--secundario{
    background-color: transparent;
    border: 2px solid var(--cor-texto-principal)
}
.container--caixa{
    margin: 0 6em;
}
