:root{
    --cor-texto-principal: #ffff;
    --cor-texto-secundario: #c0c0c0;
    --botao-principal: #167bf7;
    --botao-secundario#00030c  
}



*{
    margin: 0;
    padding: 0;
}



.principal{
    background-image:url("./bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.container{
    height: 100vh;
}


h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
}

